@import url(http://fonts.googleapis.com/css?family=Raleway);

body { 
	font-family: 'Raleway', sans-serif;
}

#principal, #topo {
	width: 950px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 34px;
}

#manual {
	text-align: left;
}

span.titulo {
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	background-color: #F0F0F0;
	padding: 5px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}

span.subtitulo {
	font-size: 16px;
	color: #707071;
}
#indice ol  { counter-reset: item }
#indice ol  > li { display: block }
#indice ol  > li:before { content: counters(item, ".") ". "; counter-increment: item }

hr {
	border-bottom: 1px solid #000;
}

a:link, a:visited, a:active {
	color: #1874CD;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: normal;
	/*color: #FF6347;*/
	background-color: #E8E8E8;
	padding: 2px 2px;
}

span.bold {
	font-weight: bold;
}

p.nota {
	width: auto;
	height: auto;
	background-color: #FF4040;	
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
}

#toTop {
		width:150px;
        border:1px solid #ccc;
        background:#f7f7f7;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:10px; /* together with this to put the div at the bottom*/
        right:10px;
        cursor:pointer;
        display:none;
        color:#333;
        font-size:14px;
        font-weight: bold;
		-moz-box-shadow: 5px 5px rgba(0,0,0,0.7);
		-webkit-box-shadow: 5px 5px rgba(0,0,0,0.7);
		box-shadow: 5px 5px rgba(0,0,0,0.7);      
}

img {
	max-width:100%;
	height: auto;
	border: 1px solid #333;
}